/vendor/
/.env
/storage/cache/*
/storage/logs/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
/data/*.db
/data/*.db-*
/data/.initial_password
/node_modules/
/uploads/
/logs/
/data/cache_*.json
/data/countries.json
data/*.sqlite
